.pagination {
    margin: 15px auto;
    align-items: center;
    display: block;
    list-style: none;
    outline: none;
    
  }
  .pagination > .active > a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
  }
  .pagination > li > a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
  }
  .pagination > li > a,
  .pagination > li > span {
    color: #47ccde;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-radius: unset;
  }
  
.colors button,
.sizes button{
  width: 35px;
  height: 35px;
}
.box-details p{
  line-height: 1.5;
  margin: 10px 10px;
  opacity: 0.8;
  align-items: left;
  text-align: left;
}
.box-details h3{
  color: crimson;
}
.box-details .thumb{
  display: flex;
  cursor: pointer;
}
.box-details .thumb img{
  width: 10vw;
  height: 10vw;
  display: block;
  object-fit: cover;
  margin: 20px;
  overflow: hidden;
}
.box-details .cart{
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

  .comment {
      border: none;
      text-align: center;
      width: 100%;
      text-align: left;
  }

  .page{
      text-align: center;
  }

  .comment:focus{
    outline: none;
    }
  .star {
    cursor: pointer;
    transition: color 200ms;
  } 
.label {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block
}

.search-item {
    margin: 5px 15px;
    width: 100%;
    border-radius: solid 50px ;
    justify-content: center;
    align-items: center;
    
}

.droplist{
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gia {
    margin: 5px 15px;
    border: none;
    color: #6b5ee0;
    background-color: #fff;
}
.FilterContent{
    margin: 10px 15px;
    border: none;
    align-items: center;
    text-align: center;
    font-size: larger;
}
.gia:hover{
    color: black;
}

.gia:focus{
    outline: none;
}

select {
    margin-bottom: 1em;
    /* padding: .25em; */
    border: 0;
    border-bottom: 1px solid currentcolor; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    font-size: larger;
  }

  select:focus{
    outline: 0;
    border-bottom-color: rgb(0, 140, 255);
  }

  select:active{
    outline: 0;
    border-bottom-color: rgb(0, 140, 255);
  }

.card-img-top{
    height: 20vw;
}

.image-show{
    width: 24vw;
    height: 24vw;
}

/* .btn-primary{ */
    /* float: right; */
/* } */

.btn-comment{
    color: white;
    background-color: tomato;
    border: none;
}

/* .btn-comment:hover{ */
    /* background-color: rgb(64, 120, 224); */
    /* outline: none; */
/* } */
/*  */
/* .btn-comment:active{ */
    /* background-color: rgb(64, 120, 224); */
    /* outline: none; */
/* } */

.danhgia{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}


