.pagination {
    margin: 15px auto;
    align-items: center;
    display: block;
    list-style: none;
    outline: none;
    
  }
  .pagination > .active > a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
  }
  .pagination > li > a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
  }
  .pagination > li > a,
  .pagination > li > span {
    color: #47ccde;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-radius: unset;
  }
  
  .colors button,
.sizes button{
  width: 35px;
  height: 35px;
}
.box-details p{
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}
.box-details h3{
  color: crimson;
}
.box-details .thumb{
  display: flex;
  cursor: pointer;
}
.box-details .thumb img{
  width: 50px;
  height: 45px;
  display: block;
  object-fit: cover;
  margin: 20px;
  overflow: hidden;
}
.box-details .cart{
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

  .comment {
      border: none;
      text-align: center;
      /* width: 100%; */
      /* margin: 1vw 1vw; */
  }

  .page{
      text-align: center;
  }
  .comment{
     
      width: 100%;
      text-align: left;
  }

  .comment:focus{
    outline: none;
    }
  .star {
    cursor: pointer;
    transition: color 200ms;
  } 
.label {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block
}

.search-item {
    margin: 5px 15px;
    width: 100%;
    border-radius: solid 50px ;
    justify-content: center;
    align-items: center;
    
}

.droplist{
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gia {
    margin: 5px 15px;
    border: none;
    color: #6b5ee0;
    background-color: #fff;
}

.gia:hover{
    color: black;
}

.gia:focus{
    outline: none;
}